
.nav{
    background-color: #84bc41;
}

.nav-link{
    color: white;
}


.btn-info {
    background-color: #099ec8;
    border-color: #099ec8;
    margin: 0 5px 0 5px;
}

.btn-info:hover{
    color: white;
    background-color: #f9c416;
    cursor: pointer;
}

p{
    text-indent: .5in;
    padding: 0px 0 -20px 0;
}

h4{
    padding-top: 10px;
}
