
.nav{
    background-color: #84bc41;
}

.nav-link{
    color: white;
}


.btn-info {
    background-color: #099ec8;
    border-color: #099ec8;
    margin: 0 5px 0 5px;
}

.btn-info:hover{
    color: white;
    background-color: #f9c416;
    cursor: pointer;
}

p{
    text-indent: .5in;
    padding: 0px 0 -20px 0;
}

h4{
    padding-top: 10px;
}

.w3-bar .cur-bar-item{
    padding:8px 10px;
    float:left;
    width:10%;
    border:none;
    display:block;
    outline:0
}

.w3-bar .res-bar-item{
    padding:8px 16px;
    float:left;
    width: 11.11%;
    border:none;
    display:block;
    outline:0
}