
html{
    background: #F0E8E8;
}

h1{
     text-align: Center;
     margin-bottom: 5px;
     font-size: 300%;
     padding: 5px;
     font-weight: bold;
 }
h2{
    text-align: Center;
    margin-bottom: 5px;
    font-size: 100%;
    padding: 5px;
    font-weight: bold;
}

p{
    text-align: Left;
    margin-bottom: 5px;
    padding: 5px;
}

form{
    padding-left: 10%;
}

.header_bar {
    margin-top: -15px;
    margin-right: -10px;
    margin-left: -10px;
    position: sticky;
    top: 0;
    background-color: #02378c;
}

.header_tabs{
    text-align: Right;
    font-size: 100%;
    padding: 5px;
}

.start_buttons {
    color: #02378c;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
}

.sdg_keywords {
    display: inline-block;
    vertical-align: top;
}

#curriculum_start, #research_start{
    background-color: lightblue;
    margin: auto;

}
    


/*Modals CSS*/
.modal {
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}

.modal_content{
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:80%;
}

.modal_header{
    text-align: center;
    margin: 0;
}
.modal_bar{
    overflow:hidden;
    display:inline-block;
    width:100%;
}

.modal_bottom_border{
    border-bottom:1px solid #ccc!important
}

.modal_bar_item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0
}



.modal_container{
    padding:0.01em 16px
}

.modal_close{
    position:absolute;
    right:0;
    top:0;
    font-size: 40px;
}

.modal_button{
    border:none;
    display: block;
    float: left;
    padding:8px 16px;
    vertical-align:middle;
    horiz-align: center;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    width: 10%;

}

.modal_button:hover{
    background-color: lightgray;
}


.modal_tablink{
    color:#000!important;
    background-color:#f1f1f1!important;
}

 /*input[type=text]{*/
    /*width: 100%;*/
    /*margin: 0px;*/
    /*box-sizing: border-box;*/
/*}*/